body {
  font-family: "PressPlay-regular", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
  line-height: 32px;
  color: white;
  background-color: #302683;
  background-image: linear-gradient(#3c328a 1px, transparent 1px),
    linear-gradient(90deg, #3c328a 1px, transparent 1px),
    linear-gradient(#3c328a 1px, transparent 1px),
    linear-gradient(90deg, #3c328a 1px, transparent 1px);
  background-size: 20px 20px, 20px 20px, 80px 80px, 80px 80px;
  background-position: 0 0, 0 0, -1px -1px, -1px -1px;
}

h1 {
  font-size: x-large;
  text-align: center;
  padding-top: 60px;
  color: white;
}

canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border: 5px #ec5a35 solid;
}

h4 {
  font-size: small;
  text-align: center;
  margin-top: -20px;
  color: #4eb543;
}
